@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,hr,ul,ol,dl,dd,input,textarea,option,th,td,fieldset,legend{margin:0; padding:0;}
li{list-style:none;}
a{text-decoration:none; color:#666;}
body{font-size:14px; font-family:"宋体";}
img{border:none; display:block;}
input,a{outline:none;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal;}
em,i{font-style:normal;}

.clear:after{content:"."; display:block; clear:both; height:0; visibility:hidden;}
.clear{zoom:1;}
.fl{float:left;}
.fr{float:right;}
